.home {
  width: 100%;
  min-height: 100vh;
  background: $backgroundGradient;
  display: flex;
  flex-direction: column;

  .resultsNumber {
    font-size: 1.5rem;
    text-align: center;
    color: $textPrimary;
  }
}
