.songCard {
  width: 25em;
  height: 9em;
  display: flex;
  align-items: center;
  background-color: #1f1f2d;
  padding: 1.5em;
  column-gap: 1.5em;
  border-radius: 1.5rem;
  box-shadow: 0 6px 16px 0 rgba(18, 18, 19, 0.3);

  &__image {
    border-radius: 1.5rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;

    .songDetails {
      &__track {
        font-size: 1.2em;
        color: $textPrimary;
        margin-bottom: 0.2em;
      }

      &__artist {
        color: $textSecondary;
      }
    }
  }

  &__player {
    color: rgb(173, 255, 47);
  }
}
