.searchBar {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 1.5em;
}

.input {
  width: 20em;
  height: 4em;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 1.5rem;

  &--glass {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 3px 8px 0 rgba(63, 64, 71, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

  &__icon {
    color: white;
    width: 15%;
    height: 35%;
    padding: 0 0.4em;
  }

  &__field {
    height: 100%;
    width: 85%;
    font-size: 1.2em;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
  }

  &:focus-within {
    border-color: white;
  }
}

.searchBar__button {
  height: 3.6em;
  font-size: 1em;
  padding: 0 1.8em;
  border-radius: 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid transparent;
  background-color: #fff;
  transition: all 0.1s ease-in-out;

  &:hover {
    border-color: #fff;
    background: transparent;
    color: #fff;
  }
}
