.footer {
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 4em;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: $textPrimary;

  &__icons {
    display: flex;
    align-items: center;
    column-gap: 1em;
  }
}
