@font-face {
  font-family: BronovaRegular;
  src: url(fonts/BronovaRegular.woff);
}

@font-face {
  font-family: BronovaBold;
  src: url(fonts/BronovaBold.woff);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: "BronovaRegular", sans-serif;
}
