$backgroundGradient: linear-gradient(145deg, #291f2a 7%, #1a1820 80%), #0c0b10;
$textPrimary: #cccccc;
$textSecondary: #7d848c;

::-webkit-scrollbar {
  width: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
